body {
  background: light-blue;
  margin: 0;
  padding: 0;
}



header {
  color:black;
  font-size: 36px;
  text-align: center;
}

.Welcome {
  font-family: Courier;
  font-size: 24px;
}
  

h1 {
  color:yellow;
  text-align: center;
}

  h2 {
    color:blue;
    }
  
  h3 {
    color: green;
    }

.Lists {
  background-color: aqua;
  text-align: center;
}

.Interests {
  background-color: orange;
  text-align: left;
}
  

  
  
