body {
  background: #DD4FD4;
  }

header {
  color:black;
  font-size: 52px;
  text-align: center;
  border:10px solid black;
  width: 100%;
}

p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}














   




  
