body {
  background: #4456ff;
  
}

header {
  color:black;
  font-size: 52px;
  text-align: center;
  border:10px solid black;
  width: 100%;
}

p {
  text-alingn: center;
  line-height: 16px;
  font-size: 24px;
}

h1 {
  background-color: yellow;
  font-size: 16px;
}
  












   




  
